

#content {
    background: white;
}

.home-welcome {
    display: flex;
    flex-direction: row;
}

.home-welcome #first h2{
    font-size: 30px;
}

.home-welcome #first{
    display: flex;
    flex-direction: column;
}

.home-welcome #second{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

.home-welcome #second div{
    margin-top: 20px;
}